<!DOCTYPE html>
<html>
<head>
    <title>Стартовая страница</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

a {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}
    </style>
</head>
<body>
    <h1>Стартовая страница</h1>
    <a href="api/main/">API звеньев цепи</a>
    <a href="api/product/">API продуктов</a>
    <a href="admin">Панель администратора</a>

</body>
</html>